body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #f1faee;
}

img {
  border-radius: 25px;
}

.avatar {
  width: 150px;
}

.card {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  border-radius: 25px;
  justify-content: space-around;
  text-align: center;
  background: #ade8f4;
  color: #2b2839;
  border-bottom: 10px solid #003566;
}

.card-2 {
  margin-top: 20px;
  border-bottom: 10px solid #d62828;
  background: #f8edeb;
}

.border-blue {
  border: 1px dotted blue;
}
